.idea/
node_modules*
data
uploads
.babelrc
/dist/
webpack.config.js
.env
./lib/
.config.js
.project
/build
public/modules/*/*


# Deprecated files
_*
tempview.js
/tools/git/*.js
/tools/excel/*.js
/views/vcs/diffs/diffs.js
/routes/vcs.js

*.log
*.log___jb_old___